<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utility and Analyzer </title>
</head>
<body>
<h1 >Welcome to the Text Utility and Analyzer<h1>
<form action="/analyze"  method="get">
    <textarea name="text" style="width: 553px; height: 126px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="capfirst"> Capitalize all<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <input type="checkbox" name="charcounter"> Character counter<br>
    <button style="margin-left: 230px;" type='submit' >Analyze Text</button>
</form>
</body>
</html>